* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background: rgb(100, 202, 63);
}

.add {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: rgba(255, 132, 0, 0.349);
    padding: 10px;
    align-items: center;
    margin-right: 10px;
}

input {
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    font-size: 20px;
    display: inline;
    padding: 5px;
    width: 100px;
}

.added {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 10px;
    align-items: center;
    padding: 10px;
}


.users,
.user {
    width: 100%;
}

.user {
    margin-top: 10px;
    padding: 10px;
}

.user>p {
    font-size: bold;
    width: 100%;
    background: rgb(13, 182, 132);
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

.user>p:not(:last-child) {
    margin-bottom: 10px;
}